<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/main.css">
	<title>Metro Blog</title>
</head>
<body>
	<header class="header">
		<div class="container clear">
			<div class="logo">
				<a href="#">
					<img src="img/logo.png" alt="logo">
				</a>
			</div>

			<nav class="nav">
				<ul class="menu">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Articles</a></li>
					<li><a href="#">Pages</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section class="banner">
		<div class="container clear">
			<div class="review">
				<h1>Apple iPad </h1>
				<h2>Reviews</h2>
				<button>
					<a href="#"><img src="img/cam.png" alt="">Video review
					</a>
				</button>
			</div>
			
			<img class="banner_img" src="img/banner.png" alt="Apple iPad">
		</div>
	
	</section>
	<section class="main">
		<div class="container clear">
			<div class="content clear">
				<div class="slider clear">
					<img src="img/slider_img.png" alt="Slider image">
					<div class="slider_title">
						<h4>Lorem Ipsum is simply cssauthor.com
						</h4>
						<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
						</p>
					</div>
					<div class="arrows">
						<a href="#" class="icon-keyboard_arrow_left">
						</a> 
						<a href="#" class="icon-keyboard_arrow_right">
						</a>
					</div>
				</div>

			<div class="news clear">
				<div class="col">
					<div class="new">
						<h5>
						Apple i phone variations
						</h5>
						<span>
						30/12/12 By: Mariya
						</span>
						<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
						</p>
					</div>
					<div class="new">
						<h5>
						Apple i phone variations
						</h5>
						<span>
						30/12/12 By: Mariya
						</span>
						<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
						</p>
					</div>
					<div class="new">
						<h5>
						Apple i phone variations
						</h5>
						<span>
						30/12/12 By: Mariya
						</span>
						<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
						</p>
					</div>
				</div>
				<div class="col">
					<div class="new">
						<h5>
						The standard chunk Lorem Ipsum
						</h5>
						<span>
						30/12/12 By: Andriana Solorzana
						</span>
						<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
						</p>
					</div>
					<div class="new">
						<h5>
						The standard chunk Lorem Ipsum
						</h5>
						<span>
						30/12/12 By: Andriana Solorzana
						</span>
						<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 	
						</p>
					</div>
					<div class="new">
						<h5>
						The standard chunk Lorem Ipsum
						</h5>
						<span>
						30/12/12 By: Andriana Solorzana
						</span>
						<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
						</p>
						</div>
				</div>
				<div class="col">
					<div class="new">
						<h5>
						This book is one of treatise
						</h5>
						<span>
						30/12/12 By: Andriana Solorzana
						</span>
						<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
						</p>
					</div>
					<div class="new">
						<h5>
						This book is one of treatise
						</h5>
						<span>
						30/12/12 By: Andriana Solorzana
						</span>
						<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 	
						</p>
					</div>
					<div class="new">
						<h5>
						This book is one of treatise
						</h5>
						<span>
						30/12/12 By: Andriana Solorzana
						</span>
						<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
						</p>
					</div>
				</div>
			</div>
			</div>
			<div class="sidebar clear">
				<div class="promo">
					<a href="#">
						<img src="img/reklam.jpg" alt="promo">
					</a>
				</div>
				<div class="join_us">
					<div class="join_us_week">
						<span class="text">
							<span class="number">12</span>
							week
						</span>
					</div>
					
						<h3>Lorem Ipsum</h3>
						<h6>Lorem Ipsum is simply<br>dummy </h6>
						<a href="#" class="btn">JOIN US NOW
						</a>
				</div>
				<div class="sign_up">
					<div class="sign_up_block">
						<h6>Join our mailing</h6>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
						<form action="" class="sign_up_form">
							<input type="text" name="name" placeholder="Name">
							<input type="email" name="email" placeholder="email address" >
							<a href="#" class="btn">sign me up</a>
						</form>
					</div>
					<div class="line"></div>
				</div>
			</div>
		
		
		</div>
	</section>
	<footer class="footer">
		<div class="container clear">
			All Rights Reserved to cssauthor.com
			<ul class="icons">
				<li>
					<a href="#" class="icon-facebook-square"></a>
				</li>
				<li>
					<a href="#" class="icon-twitter-square"></a>
				</li>
				<li>
					<a href="#" class="icon-youtube-square"></a>
				</li>
			</ul>
		</div>
	</footer>
	<script src="js/main.js"></script>
</body>
</html>